* {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.staffLoginBtn {
  display: flex;
  justify-content: right;
}

.title {
  text-align: center;
}

.title1 {
  text-align: center;
  font-size: large;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox input {
  margin: 10px 0;
}

.btn {
  display: block;
  margin: 10px auto;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.btn-back {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
